.t-dropdown {

    $t-dropdown-item-height: 46px;
    $t-dropdown-detail-height: 18px;

    width: 100%;
    position: relative;


    .t-dropdown__control {
        border: 1px solid $t-gray-color-3;
        background: $t-white-color;
        width: 100%;
        padding: 0 20px 0 $t-padding-lr-16;
        position: relative;
        display: flex;
        align-items: center;
        gap: $t-margin-lr-4;
        cursor: pointer;
        min-height: $t-dropdown-item-height;
        height: 46px;
        outline: none;
        &:focus-within {
            border-color: $t-primary-color;
        }


        .t-dropdown__control__selected {
            padding: $t-padding-tb-8 0;
            display: flex;
            align-items: center;
            flex: 1 1 auto;
            outline: none;
            flex-wrap: wrap;
            &.t-dropdown__control__selected--empty {
                color: $t-font-color--placeholder;
            }
        }

        .t-dropdown__control__remover {
            opacity: 0;
            transition: opacity 0.2s;
            .t-icon {
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                width: 28px;
                height: 28px;
            }
        }
        &:hover .t-dropdown__control__remover {
            opacity: 1;
        }


        .t-dropdown__control__opener {
            transform: rotate(0); transition: transform 0.15s linear;
            &.t-dropdown__control__opener--open { transform: rotate(180deg);}
        }
    }

    .t-dropdown__items {
        display: none;
        position: absolute;
        top: 100%;
        z-index: $t-z-index-dropdown;
        border: 1px solid $t-gray-color-3;
        width: 100%;
        background: $t-white-color;

        .t-dropdown__items__filter-text.t-text-field {
            .t-text-field__container {
                border: none;
                border-bottom: 1px solid $t-gray-color-3;
            }
            .t-text-field__details {
                display: none;
            }
            .t-icon {
                color: $t-font-color--placeholder;
                cursor: default;
            }

        }

        .t-dropdown__items__wrapper {
            max-height: $t-dropdown-item-height * 5.5;
            overflow-y: auto;

        }


        &.t-dropdown__items--no-detail { top: 100%; }

        &.t-dropdown__items--open {
            display: block;
        }

        &.t-dropdown__items--empty.t-dropdown__items--open {
            pointer-events: none;
            color: $t-font-color--placeholder;

        }

        .t-dropdown__items__item {
            flex: 1 0 auto;
            cursor: pointer;
            padding: 0 $t-padding-lr-16;
            height: $t-dropdown-item-height;
            outline: none;
            display: flex;
            align-items: center;
            @include user-select-none;

            &.t-dropdown__items__item--selected {
                background: $t-background-color--hover;
                color: $t-font-color--selected;
                font-weight: $t-font-weight--selected;
            }

            .t-dropdown__items__item__checkbox .t-checkbox__container:focus .t-checkbox__icon { outline: none; }

            &.t-dropdown__items__item--focused { background: $t-background-color--hover; }
            &:focus-within { background: $t-background-color--hover; }
            &:hover { background: $t-background-color--hover; }
            &:active { background: $t-background-color--active; }
        }
    }

    .t-dropdown__details {
        display: flex;
        @include typo-element-3;
        height: $t-dropdown-detail-height;
        color: $t-gray-color-4;
        position: absolute;
        width: 100%;
        .t-text-field__details__message {
            flex: 1 1 auto;
            margin-right: $t-margin-lr-16;
            @include ellipsis;
        }
    }

    &.t-dropdown--failure {
        @include animation-shake();
        .t-dropdown__control {border-color: $t-status-color--error;color: $t-status-color--error;}
        .t-dropdown__details {color: $t-status-color--error;}
    }

    &.t-dropdown--success {
        .t-dropdown__control {border-color: $t-status-color--success; color: $t-status-color--success;}
        .t-dropdown__details {color: $t-status-color--success;}
    }

    &.t-dropdown--underline .t-dropdown__control {
        border-width: 0 0 1px 0;
        &:focus-within {
            border-color: $t-primary-color;
            border-width: 0 0 2px 0;
        }
    }

    &.t-dropdown--disabled {
        .t-dropdown__control {
            pointer-events: none;

            //background: $t-background-color--read-only;
            background: $t-gray-color-2;
            color: $t-font-color--disabled;

        }
    }

}
