.t-dropdown {

    $t-dropdown-item-height: 40px;
    $t-dropdown-detail-height: 18px;

    width: 100%;
    height: 40px;
    position: relative;

    &.t-dropdown--open .t-dropdown__control {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-color: $t-gray-color-2;
    }

    &.t-dropdown--open {
        border-radius: 4px;
        box-shadow: $t-shadow--box;

        .t-dropdown__items.t-dropdown__items--open {
            box-shadow: $t-shadow--box;
        }
    }

    .t-dropdown__control {
        border: 1px solid $t-gray-color-2;
        background: $t-white-color;
        width: 100%;
        padding: 0 $t-spacing-12 0 $t-spacing-16;
        position: relative;
        display: flex;
        align-items: center;
        gap: $t-spacing-4;
        cursor: pointer;
        //min-height: $t-dropdown-item-height;
        height: 40px;
        outline: none;
        border-radius: 4px;


        &:hover { border-color: $t-primary-color; }

        &:hover .t-dropdown__control__selected.t-dropdown__control__selected--empty {
            color: $t-black-color;
        }

        &:focus-within { border-color: $t-primary-color; }


        .t-dropdown__control__selected {
            //padding: $t-spacing-8 0;
            display: flex;
            align-items: center;
            flex: 1 1 auto;
            outline: none;
            flex-wrap: wrap;
            @include typo-body-2;

            &.t-dropdown__control__selected--empty {
                color: $t-font-color--placeholder;
            }
        }

        .t-dropdown__control__remover {
            //opacity: 0;
            transition: opacity 0.2s;
        }
        &:hover .t-dropdown__control__remover {
            opacity: 1;
        }


        .t-dropdown__control__opener {
            transform: rotate(0); transition: transform 0.15s linear;
            &.t-dropdown__control__opener--open { transform: rotate(180deg);}
        }
    }

    .t-dropdown__items {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        border: 1px solid $t-gray-color-2;
        border-top: none;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background: $t-white-color;
        z-index: $t-z-index-dropdown;
        overflow: hidden;

        .t-dropdown__items__filter-text.t-text-field {
            .t-text-field__container {
                border: none;
                border-bottom: 1px solid $t-gray-color-2;
                border-radius: 0;
                padding: 0 $t-spacing-12;
                background: $t-gray-color-1;

                .t-text-field__container__input {
                    color: $t-black-color;
                    background: $t-gray-color-1;
                }

            }
            .t-text-field__details {
                display: none;
            }
            .t-icon {
                color: $t-font-color--placeholder;
                cursor: default;
            }

        }

        .t-dropdown__items__wrapper {
            max-height: $t-dropdown-item-height * 5.5;
            overflow-y: auto;

        }


        &.t-dropdown__items--no-detail { top: 100%; }

        &.t-dropdown__items--open {
            display: block;
        }

        &.t-dropdown__items--empty.t-dropdown__items--open {
            color: $t-font-color--placeholder;
        }

        .t-dropdown__items__item {
            flex: 1 0 auto;
            cursor: pointer;
            padding: 0 $t-spacing-16;
            height: $t-dropdown-item-height;
            outline: none;
            display: flex;
            align-items: center;
            @include typo-body-3;
            @include user-select-none;

            &.t-dropdown__items__item--selected {
                background: $t-blue-gray-color-1;
                color: $t-font-color--selected;
                font-weight: $t-font-weight--selected;
            }

            .t-dropdown__items__item__checkbox .t-checkbox__container:focus .t-checkbox__icon { outline: none; }

            &.t-dropdown__items__item--no-result {
                color: $t-gray-color-5;
                height: 54px;

                &:hover {
                    background: $t-white-color;
                    color: $t-gray-color-5;
                }
            }

            &.t-dropdown__items__item--focused { background: $t-background-color--hover; }
            &:focus-within { background: $t-blue-gray-color-1; }
            &:hover {
                background: $t-blue-gray-color-1;
                color: $t-font-color--selected;
            }
            &:active { background: $t-blue-gray-color-1; }
        }
    }

    .t-dropdown__details {
        display: flex;
        @include typo-element-3;
        height: $t-dropdown-detail-height;
        color: $t-gray-color-4;
        position: absolute;
        width: 100%;
        .t-text-field__details__message {
            flex: 1 1 auto;
            margin-right: $t-spacing-16;
            @include ellipsis;
        }
    }

    &.t-dropdown--failure {
        @include animation-shake();
        .t-dropdown__control {border-color: $t-status-color--error;color: $t-status-color--error;}
        .t-dropdown__details {color: $t-status-color--error;}
    }

    &.t-dropdown--success {
        .t-dropdown__control {border-color: $t-status-color--success; color: $t-status-color--success;}
        .t-dropdown__details {color: $t-status-color--success;}
    }

    &.t-dropdown--underline .t-dropdown__control {
        border-width: 0 0 1px 0;
        &:focus-within {
            border-color: $t-primary-color;
            border-width: 0 0 2px 0;
        }
    }

    &.t-dropdown--disabled {
        .t-dropdown__control {
            pointer-events: none;

            //background: $t-background-color--read-only;
            background: $t-gray-color-2;
            color: $t-font-color--disabled;

        }
    }

}
