
.t-icon-button {
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    overflow: hidden;

    &:not(.t-icon-button--disabled):hover {
        background: $t-gray-color--02;

        &.t-icon-button--primary {
            background: $t-primary-color--tint-9;
        }
    }

    &.t-icon-button--disabled {
        cursor: default;
        color: $t-font-color--disabled;
    }


    &.t-icon-button--primary:not(.t-icon-button--disabled) {
        color: $t-primary-color;
    }

    &.t-icon-button--point:not(.t-icon-button--disabled) {
        color: $t-point-color;
    }

    &.t-icon-button--outlined {
        border-width: 1px;
        border-style: solid;
    }


}
