
.t-icon-button {
    cursor: pointer;

    position: relative;
    overflow: hidden;
    outline: none;
    min-width: 40px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $t-white-color;

    &:not(.t-icon-button--disabled):hover,
    &:not(.t-icon-button--disabled):focus-visible {
        background: $t-gray-color-2;
    }

    /* Shape */
    &.t-icon-button--shape-rectangle {
        border-radius: 4px;
    }
    &.t-icon-button--shape-circle {
        border-radius: 50%;
    }

    /* Outline */
    &.t-icon-button--outline-flat {
        border: 1px solid $t-gray-color-4;
    }
    &.t-icon-button--outline-elevation {
        border: none;
        box-shadow: $t-shadow--box;
    }
    &.t-icon-button--outline-none {
        border: none;
    }


    &.t-icon-button--disabled {
        cursor: default;
        color: $t-font-color--disabled;
    }

    &.t-icon-button--outlined {
        border-width: 1px;
        border-style: solid;
    }
}
