.t-radio-group {
    outline: none;
    position: relative;

    .t-radio-group__container {
        display: flex;
        align-items: center;
    }
    .t-radio + .t-radio { margin-left: $t-margin-lr-16; }

    .t-radio-group__message {
        font-size: $t-font-size-body-3;
        height: 18px;
        line-height: 18px;
        color: $t-gray-color-4;
        position: absolute;
        width: 100%;
        margin-top: 2px;
    }

    &.t-radio-group--disabled {
        pointer-events: none;
    }

    &.t-radio-group--failure {
        @include animation-shake();
        .t-radio-group__message {color: $t-status-color--error;}
    }
    &.t-radio-group--success {
        .t-radio-group__message {color: $t-status-color--success;}
    }
}

