
.t-drop-holder {
    display: inline-flex;
    position: relative;

    .t-drop-holder__holder {
        cursor: pointer;
    }

    .t-drop-holder__anchor {
        display: inline-block;
        position: absolute;
    }

    .t-drop-holder__items {
        position: absolute;
        z-index: $t-z-index-drop-holder;
        border: 1px solid $t-blue-gray-color-3;
        background: $t-white-color;
        display: flex;
        flex-direction: column;
        box-shadow: $t-shadow--focused-element;

        .t-drop-holder__items__title {
            cursor: default;
            color: $t-gray-color-4;
            @include typo-element-3;
            padding: $t-spacing-16 $t-spacing-16 0;
        }

        .t-drop-holder__items__item {
            cursor: pointer;
            padding: 0 $t-spacing-16;
            height: 38px;
            outline: none;
            display: flex;
            align-items: center;
            @include user-select-none;

            .t-drop-holder__items__item__icon {
                margin-right: $t-spacing-4;
            }
            .t-drop-holder__items__item__text {
                @include typo-body-3;
            }

            &.t-drop-holder__items__item--divider {
                border-top: 1px solid $t-blue-gray-color-3;
            }
            &.t-drop-holder__items__item--selected {
                background: $t-background-color--hover;
                color: $t-font-color--selected;
                font-weight: $t-font-weight--selected;
            }
            &.t-drop-holder__items__item--disabled {
                pointer-events: none;
                cursor: default;
                color: $t-font-color--disabled;
            }

            .t-drop-holder__items__item__checkbox .t-checkbox__container:focus .t-checkbox__icon { outline: none; }

            &.t-drop-holder__items__item--focused { background: $t-background-color--hover; }
            &:hover { background: $t-background-color--hover; }
        }

    }


}
