$t-modal__overlay__body--small-width: 464px;
$t-modal__overlay__body--medium-width: 500px;
$t-modal__overlay__body--large-width: 688px;
$t-modal__overlay__body--xlarge-width: 944px;
$t-modal__overlay__body--xxlarge-width: 1500px;

.t-modal {

    .t-modal__overlay {
        z-index: $t-z-index-modal;
        position: fixed;
        inset: 0;
        background: rgba(black, 40%);
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        &.ReactModal__Overlay--after-open { opacity: 1; }
        &.ReactModal__Overlay--before-close { opacity: 0; }

        .t-modal__overlay__body {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: $t-modal__overlay__body--medium-width;
            max-height: calc(100% - 80px);

            border-radius: 8px;
            background: $t-white-color;
            box-shadow: $t-shadow--modal;
            outline: none;


            &.t-modal__overlay__body--small { width: $t-modal__overlay__body--small-width; }
            &.t-modal__overlay__body--medium { width: $t-modal__overlay__body--medium-width; }
            &.t-modal__overlay__body--large { width: $t-modal__overlay__body--large-width; }
            &.t-modal__overlay__body--xlarge { width: $t-modal__overlay__body--xlarge-width; }
            &.t-modal__overlay__body--xxlarge { width: $t-modal__overlay__body--xxlarge-width; }

            .t-modal__overlay__body__close-icon {
                position: absolute;
                top: $t-spacing-32;
                right: $t-spacing-32;
                z-index: 1;
            }

            .t-modal__overlay__body__header {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: $t-spacing-32 $t-spacing-32 0 $t-spacing-32;

                .t-modal__overlay__body__header__text {
                    text-align: left;
                    flex: 1 0 auto;

                    @include typo-h4;
                    color: $t-black-color;
                }

            }
            .t-modal__overlay__body__content {
                flex: 0 1 auto;
                overflow-y: auto;
                padding: $t-spacing-24 $t-spacing-32 $t-spacing-32 $t-spacing-32;
                line-height: 1.59;
                letter-spacing: -0.34;
                color: $t-gray-color-6;
                @include typo-body-1;
            }
            .t-modal__overlay__body__footer {
                flex: 0 0 64px;
                padding: 0 $t-spacing-32 $t-spacing-32 $t-spacing-32;
                display: flex;
                justify-content: center;
            }
        }
    }
}
