:root {

    // region [Color]

    --t-primary-color: #3617CE;

    --t-secondary-color-red: #E74C3C;
    --t-secondary-color-salmon: #F2918D;
    --t-secondary-color-yellow: #FFDA7C;
    --t-secondary-color-blue: #95A8FF;
    --t-secondary-color-purple-1: #704AEC;
    --t-secondary-color-purple-2: #B098FF;
    --t-secondary-color-purple-3: #C65DEB;
    --t-secondary-color-purple-4: #E4DDFF;
    --t-secondary-color-pink-1: #FA70B0;
    --t-secondary-color-pink-2: #FFB4FF;

    --t-white-color: #FFFFFF;

    --t-gray-color--1: #F7F7F7;
    --t-gray-color--2: #E3E3E4;
    --t-gray-color--3: #B8BABC;
    --t-gray-color--4: #999999;
    --t-gray-color--5: #71747A;
    --t-gray-color--6: #54575D;

    --blue-gray-color-1: #F9FAFD;
    --blue-gray-color-2: #EFF2FF;
    --blue-gray-color-3: #E1E5F7;
    --blue-gray-color-4: #4B5563;
    --blue-gray-color-5: #2B394E;

    --t-black-color: #121821;

    // endregion


    // region [Typography]

    --t-font-family: Roboto, 'Noto Sans', 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', '돋움', Dotum, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --t-font-weight-normal: 400; // Regular | Normal
    --t-font-weight-medium: 500; // Medium
    --t-font-weight-bold: 700; // Bold

    --t-font-size-xxsmall: 0.6875rem; // 11px;
    --t-font-size-xsmall: 0.75rem; //12px
    --t-font-size-small: 0.875rem; //14px
    --t-font-size-medium: 1rem; // 16px
    --t-font-size-large: 1.125rem; // 18px
    --t-font-size-xlarge: 1.25rem; // 20px
    --t-font-size-xxlarge: 1.625rem; // 26px

    --t-line-height-default: 1; // 텍스트의 배수;
    --t-line-height-header: 1.5; // 텍스트의 배수;
    --t-line-height-body: 1.75;




    --t-point-color: #121821;

    --t-status-color--required: #FF0000;
    --t-status-color--success: #4874FF;
    --t-status-color--error: #FF0000;
    --t-status-color--default: #959595;
    --t-status-color--processing: #4874FF;
    --t-status-color--warning: #F7A443;



    // z-index
    --t-z-index-tooltip: 900;
    --t-z-index-modal: 500;
    --t-z-index-dropdown: 300;
    --t-z-index-drop-holder: 300;
    --t-z-index-page-title: 1;

}
