
.t-step-box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 40px 70px;
    margin-bottom: calc($t-margin-tb-16 + 30px);

    .t-step-box-header__connector {
        height: 6px;
        flex: 0 1 250px;
        margin: 0 -9px;
        background: $t-background-color-01;


        &.t-step-box-header__connector--prev, &.t-step-box-header__connector--current {
            background: $t-primary-color--tint-6;
        }

    }
    .t-step-box-header__step {
        display: flex;
        align-items: center;
        gap: $t-margin-tb-16;
        position: relative;


        .t-step-box-header__step__number {
            border-radius: 50%;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .t-step-box-header__step__number__inner {
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include typo-subtitle-4;
            }

            .t-step-box-header__step__label {
                position: absolute;
                top: 64px;
                @include typo-body-3;
                width: max-content;
            }


            &.t-step-box-header__step__number--prev, &.t-step-box-header__step__number--current {
                background: $t-primary-color--tint-6;

                .t-step-box-header__step__number__inner {
                    background: $t-primary-color;
                    color: $t-font-color--white;
                }
            }

            &.t-step-box-header__step__number--current .t-step-box-header__step__label {
                color: $t-primary-color;
            }

            &.t-step-box-header__step__number--next {

                .t-step-box-header__step__number__inner {
                    background: $t-background-color-01;
                    color: $t-font-color--primary-02;
                }
            }
        }

    }

}

.t-step-box-item {
}


.t-step-box-footer {
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 40px;

    .t-step-box-footer__left-action {
        flex: 1 0 auto;
    }
    .t-step-box-footer__right-action {
        flex: 0 1 auto;
    }
}
