
.t-step-box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 40px 0;
    margin-bottom: calc($t-spacing-40);

    .t-step-box-header__connector {
        height: 2px;
        flex: 0 1 140px;
        background: $t-blue-gray-color-3;


        &.t-step-box-header__connector--prev, &.t-step-box-header__connector--current {
            background: $t-primary-color;
        }
    }

    .t-step-box-header__step {
        display: flex;
        align-items: center;
        gap: $t-spacing-16;
        position: relative;


        .t-step-box-header__step__number {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include typo-element-1;

            .t-step-box-header__step__label {
                position: absolute;
                top: calc($t-spacing-32 + $t-spacing-12);
                @include typo-subtitle-1;
                width: max-content;
            }

            &.t-step-box-header__step__number--prev {background: $t-primary-color;}
            &.t-step-box-header__step__number--current {outline: 2px solid $t-primary-color;color: $t-primary-color;}
            &.t-step-box-header__step__number--next {outline: 2px solid $t-blue-gray-color-3;color: $t-gray-color-4;}
        }

    }

}

.t-step-box-footer {
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: $t-spacing-20;

    .t-step-box-footer__left-action {
        flex: 1 0 auto;
    }
    .t-step-box-footer__right-action {
        flex: 0 1 auto;
    }
}
