@use 'src/styles/designToken/Entry' as *;

.t-button-group {

    // Single Select
    .t-button-group__button {
        color: $t-gray-color-5;
        border: 1px solid $t-gray-color-2;
        background: $t-white-color;
        border-radius: 0;
        margin: 0 -1px;
        z-index: 0;

        &:first-child, &:last-child { margin: 0; }

        .t-button__content { @include typo-body-3; }
    }

    .t-button-group__button--active {
        color: $t-black-color;
        border-color: $t-gray-color-4;
        background: $t-blue-gray-color-2;
        border-radius: 0;
        z-index: 1;
    }

    &.t-button-group--primary {

        .t-button-group__button {
            &.t-button-group__button--active {
                color: $t-primary-color;
                border-color: $t-primary-color;
            }
        }
    }

    &.t-button-group--main {

        .t-button-group__button {
            &.t-button-group__button--active {
                color: $t-white-color;
                background: $t-primary-color;
                border-color: $t-primary-color;
            }
        }
    }

    &.t-button-group--disabled .t-button-group__button.t-button--disabled {
        border: 1px solid $t-gray-color-2;
    }

    :is(.t-button-group__button, .t-button-group__button--active):last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    :is(.t-button-group__button, .t-button-group__button--active):first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &.t-button-group--xsmall .t-button {
        height: 16px;
        @include typo-element-3;
    }
    &.t-button-group--small .t-button {
        height: 24px;
        @include typo-element-4;
    }
    &.t-button-group--medium .t-button {
        height: 32px;
        @include typo-element-2;
    }
    &.t-button-group--large .t-button {
        height: 40px;
        @include typo-body-3;
    }
}
