.t-radio {
    line-height: $t-line-height-header;

    .t-radio__container {
        display: flex;
        align-items: center;
        gap: $t-spacing-8;
        cursor: pointer;
        outline: none;

        .t-radio__icon { border-radius: 2px; }
        .t-radio__label { @include typo-body-3; }

        &:is(:focus-within, :hover) .t-radio__icon.t-radio__icon--deselected svg { fill: $t-white-color; stroke: $t-primary-color; }
    }

    &.t-radio--disabled .t-radio__container {
        pointer-events: none;
        color: $t-font-color--read-only;

        .t-radio__label { color: $t-font-color--disabled; }
    }
}
