.t-card {
    border: 1px solid #DBE2F0;
    border-radius: 12px;

    &.t-card--clickable {
        cursor: pointer;
        &:hover {
            outline: 2px solid $t-primary-color;
            border-color: $t-primary-color;
        }
    }

    &.t-card--selected {
        border-color: $t-primary-color;
        outline: 2px solid $t-primary-color;
    }

}

.t-card-header {
    margin: 0 32px;
    padding: $t-padding-tb-32 0 0 0;


    .t-card-header__title {}
    .t-card-header__sub-title {
        margin-top: $t-margin-tb-12;
        color: $t-gray-color-5;
    }
}

.t-card-content {
    padding: $t-padding-tb-32 $t-padding-lr-32;
    line-height: $t-line-height-body;
}
