.t-card {
    border: 1px solid #DBE2F0;
    border-radius: 12px;

    &.t-card--clickable {
        cursor: pointer;

        &:hover {
            background: $t-primary-color--tint-9;
        }
    }

}

.t-card-header {
    margin: 0 32px;
    padding: 32px 0 16px;


    .t-card-header__title {

    }
    .t-card-header__sub-title {
        margin-top: $t-margin-tb-12;
        color: $t-gray-color--08;
    }
}

.t-card-content {
    padding: 16px 32px;
    line-height: $t-line-height-body;
}
