$t-button-color--default: $t-white-color;
$t-button-color--hover: $t-white-color;
$t-button-color--disabled: $t-gray-color-4;

$t-button-background--default: $t-primary-color;
$t-button-background--hover: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), $t-primary-color;
$t-button-background--disabled: $t-gray-color-1;

$t-button-border--default: transparent;
$t-button-border--hover: transparent;
$t-button-border--disabled: $t-gray-color-1;


.t-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $t-button-color--default;
    background: $t-button-background--default;
    border: 1px solid $t-button-border--default;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    font-family: $t-font-family;
    overflow: hidden;
    @include user-select-none;

    .t-button__content {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .t-button__content__icon {
            margin-right: $t-spacing-4;
        }
        &.t-button__content--loading {
            .t-button__content--loading__slice {
                position: absolute;
                top: calc(50% - (var(--t-button-loading-size) * 0.5));
                left: calc(50% - (var(--t-button-loading-size) * 0.5));
                width: var(--t-button-loading-size);
                height: var(--t-button-loading-size);
                border: var(--t-button-loading-thick) solid $t-white-color;
                border-radius: 50%;
                animation: rotate 1.2s ease infinite;
                border-color: $t-white-color transparent transparent transparent;
                &:nth-child(2) { animation-delay: 0.11s; }
                &:nth-child(3) { animation-delay: 0.22s; }
            }
        }
    }

    // Variant
    &.t-button--outlined {
        color: $t-primary-color;
        background: $t-white-color;
        border-color: $t-primary-color;

        .t-button__content--loading .t-button__content--loading__slice {
            border-color: $t-primary-color transparent transparent transparent;
        }
    }

    &.t-button--plain {
        color: $t-black-color;
        background: $t-white-color;
        border: 1px solid $t-gray-color-4;

        .t-button__content--loading .t-button__content--loading__slice {
            border-color: $t-black-color transparent transparent transparent;
        }
    }

    &.t-button--ghost {
        color: $t-white-color;
        background: transparent;
        border: 1px solid $t-gray-color-5;

        .t-button__content--loading .t-button__content--loading__slice {
            border-color: $t-black-color transparent transparent transparent;
        }
    }

    &.t-button--rounded {
        color: $t-black-color;
        background: $t-white-color;
        border: 1px solid $t-gray-color-4;

        .t-button__content--loading .t-button__content--loading__slice {
            border-color: $t-primary-color transparent transparent transparent;
        }
    }


    &:hover, &:focus-visible {
        color: $t-button-color--hover;
        background: $t-button-background--hover;
        border: 1px solid $t-button-border--hover;
        cursor: pointer;

        &.t-button--outlined {
            color: $t-primary-color;
            background: $t-blue-gray-color-1;
            border: 1px solid $t-primary-color;
        }

        &.t-button--plain {
            color: $t-black-color;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), $t-white-color;
            border: 1px solid $t-gray-color-4;
        }

        &.t-button--ghost {
            color: $t-white-color;
            background: rgba(0, 0, 0, 0.10);
            border: 1px solid $t-gray-color-5;
        }

        &.t-button--rounded {
            color: $t-black-color;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), $t-white-color;
            border: 1px solid $t-gray-color-4;
        }
    }

    &:focus-visible {
        outline: none;
    }

    // [ Disabled ]
    &:disabled.t-button--disabled {
        cursor: default;
        color: $t-button-color--disabled;
        background: $t-button-background--disabled;
        border: 1px solid $t-button-border--disabled;

        &:hover {
            color: $t-button-color--disabled;
            background: $t-button-background--disabled;
            border: 1px solid $t-button-border--disabled;
        }
    }

    // [ Shape, Size ]
    &.t-button--loading {
        pointer-events: none;
    }
    &.t-button--rounded {
        border-radius: 50px;
    }

    &.t-button--xsmall {
        min-width: 48px;
        height: 20px;
        padding: 0 $t-spacing-8;
        @include typo-element-4;

        --t-button-loading-size: 12px;
        --t-button-loading-thick: 2px;
    }
    &.t-button--small {
        min-width: 64px;
        height: 24px;
        padding: 0 $t-spacing-16;
        @include typo-element-4;

        --t-button-loading-size: 14px;
        --t-button-loading-thick: 2px;
    }
    &.t-button--medium {
        min-width: 96px;
        height: 32px;
        padding: 0 $t-spacing-16;
        @include typo-element-2;

        --t-button-loading-size: 16px;
        --t-button-loading-thick: 3px;
    }
    &.t-button--large {
        min-width: 104px;
        height: 40px;
        padding: 0 $t-spacing-24;
        @include typo-body-2;

        --t-button-loading-size: 20px;
        --t-button-loading-thick: 3px;
    }
    &.t-button--xlarge {
        min-width: 144px;
        height: 48px;
        padding: 0 $t-spacing-32;
        @include typo-subtitle-1;

        --t-button-loading-size: 24px;
        --t-button-loading-thick: 3px;
    }

}


.t-button--xsmall + .t-button--xsmall { margin-left: $t-spacing-4; }
.t-button--small + .t-button--small { margin-left: $t-spacing-4; }
.t-button--medium + .t-button--medium { margin-left: $t-spacing-8; }
.t-button--large + .t-button--large { margin-left: $t-spacing-8; }
.t-button--xlarge + .t-button--xlarge { margin-left: $t-spacing-8; }
