$t-button-color--default: $t-black-color;
$t-button-color--hover: $t-black-color;
$t-button-color--disabled: $t-gray-color-4;

$t-button-background--default: $t-white-color;
$t-button-background--hover: $t-gray-color-1;
$t-button-background--disabled: $t-gray-color-1;

$t-button-border--default: $t-gray-color-4;
$t-button-border--hover: $t-gray-color-4;
$t-button-border--disabled: $t-gray-color-1;


.t-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $t-button-color--default;
    background: $t-button-background--default;
    border: 1px solid $t-button-border--default;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    font-family: $t-font-family;
    overflow: hidden;
    @include user-select-none;

    .t-button__content {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .t-button__content__icon {
            margin-right: $t-spacing-4;
        }
    }



    &:hover, &:focus-visible {
        color: $t-button-color--hover;
        background: $t-button-background--hover;
        border: 1px solid $t-button-border--hover;
        cursor: pointer;

        &.t-button--primary {
            color: $t-primary-color;
            background: $t-blue-gray-color-1;
            border: 1px solid $t-primary-color;
        }

        &.t-button--main {
            color: $t-white-color;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), $t-primary-color;
            border-color: transparent;
        }

        &.t-button--ghost {
            color: $t-white-color;
            background: rgba(0, 0, 0, 0.10);
            border: 1px solid $t-gray-color-5;
        }
    }

    &:focus-visible {
        outline: none;
    }

    // [ Disabled ]
    &:disabled.t-button--disabled {
        cursor: default;
        color: $t-button-color--disabled;
        background: $t-button-background--disabled;
        border: 1px solid $t-button-border--disabled;

        &:hover {
            color: $t-button-color--disabled;
            background: $t-button-background--disabled;
            border: 1px solid $t-button-border--disabled;
        }
    }

    // [ Shape, Size ]

    &.t-button--primary {
        color: $t-primary-color;
        background: $t-white-color;
        border-color: $t-primary-color;
    }
    &.t-button--main {
        color: $t-white-color;
        background: $t-primary-color;
        border: 1px solid $t-primary-color;
    }
    &.t-button--ghost {
        color: $t-white-color;
        background: transparent;
        border: 1px solid $t-gray-color-5;
    }
    &.t-button--loading {
        pointer-events: none;
    }
    &.t-button--rounded {
        border-radius: 50px;
    }
    &.t-button--xsmall {
        min-width: 32px;
        height: 20px;
        padding: 0 $t-spacing-8;
        @include typo-element-4;
    }
    &.t-button--small {
        min-width: 40px;
        height: 24px;
        padding: 0 $t-spacing-16;
        @include typo-element-4;
    }
    &.t-button--medium {
        min-width: 56px;
        height: 32px;
        padding: 0 $t-spacing-16;
        @include typo-element-2;
    }
    &.t-button--large {
        min-width: 64px;
        height: 40px;
        padding: 0 $t-spacing-24;
        @include typo-body-2;
    }
    &.t-button--xlarge {
        min-width: 88px;
        height: 48px;
        padding: 0 $t-spacing-32;
        @include typo-subtitle-1;
    }
}

.t-button--xsmall + .t-button--xsmall { margin-left: $t-spacing-4; }
.t-button--small + .t-button--small { margin-left: $t-spacing-4; }
.t-button--medium + .t-button--medium { margin-left: $t-spacing-8; }
.t-button--large + .t-button--large { margin-left: $t-spacing-8; }
.t-button--xlarge + .t-button--xlarge { margin-left: $t-spacing-8; }
