.t-input-validation-hint {
    @include typo-element-4;

    .t-input-validation-hint__description {
        margin-bottom: $t-spacing-8;
        font-weight: $t-font-weight-medium;
    }

    .t-input-validation-hint__rules {
        display: flex;
        flex-direction: column;

        .t-input-validation-hint__rules__item {
            &::before {
                @include typo-element-5;
                content: '・';
                margin-right: $t-spacing-4;
            }

            &.t-input-validation-hint__rules__item--valid {
                color: $t-status-color--success;
            }
            &.t-input-validation-hint__rules__item--invalid {
                color: $t-status-color--error;
            }
        }
    }
}