.t-chip {
    display: inline-flex;
    align-items: center;
    height: 28px;
    padding: 0 $t-spacing-8;
    border-radius: 4px;
    cursor: default;

    &.t-chip--fill {
        color: $t-primary-color;
        background: $t-blue-gray-color-2;
        border: none;
    }

    &.t-chip--outlined {
        color: $t-gray-color-6;
        border: 1px solid $t-blue-gray-color-3;
        background: $t-blue-gray-color-1;
    }

    .t-chip__prev-icon {
        margin-right: $t-spacing-4;
    }

    .t-chip__label { @include typo-body-3; }

    .t-chip__remove-icon {
        margin-left: $t-spacing-2;
        color: $t-gray-color-4;
        font-size: 16px;
        border-radius: 50%;
    }
}

.t-chip + .t-chip { margin-left: $t-spacing-6; }
