.t-chip {
    height: 30px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    cursor: default;


    &.t-chip--primary {
        .t-chip__remove-icon {
            color: $t-primary-color--tint-3;
            &:hover { color: $t-primary-color--tint-2;}
            &:active { color: $t-primary-color--tint-1;}
        }
    }

    &.t-chip--filled {
        border: none;

        color: $t-black-color;
        background-color: $t-gray-color-3;

        &.t-chip--primary {
            color: $t-primary-color;
            background-color: $t-primary-color--tint-9;
        }
    }

    &.t-chip--outlined {
        border: 1px solid $t-border-color--default;
        background-color: $t-white-color;
        color: $t-gray-color-5;

        &.t-chip--primary {
            border: 1px solid $t-primary-color--tint-2;
            color: $t-primary-color;
        }
    }

    .t-chip__prev-icon {
        margin-right: $t-spacing-4;
    }

    .t-chip__label {
    }

    .t-chip__remove-icon {
        margin-left: $t-spacing-4;
        border-radius: 50%;
        color: $t-gray-color-4;
        &:hover { color: $t-gray-color-5; }
        &:active { color: $t-gray-color-5; }
    }

    &.t-chip--xsmall {
        height: 20px;
        @include typo-element-4;
        padding: 0 $t-spacing-8;
        .t-chip__prev-icon { margin-left: -4px; }
        .t-chip__remove-icon { margin-right: -4px; }
    }
    &.t-chip--small {
        height: 26px;
        @include typo-element-4;
        padding: 0 10px;
        .t-chip__prev-icon { margin-left: -5px; }
        .t-chip__remove-icon { margin-right: -5px; }
    }
    &.t-chip--medium {
        height: 32px;
        @include typo-element-3;
        padding: 0 12px;
        .t-chip__prev-icon { line-height: 32px; margin-left: -6px; }
        .t-chip__remove-icon { line-height: 32px; margin-right: -6px; }
    }
    &.t-chip--large {
        height: 38px;
        @include typo-element-2;
        padding: 0 14px;
        .t-chip__prev-icon { margin-left: -7px; }
        .t-chip__remove-icon { margin-right: -7px; }
    }
    &.t-chip--xlarge {
        height: 44px;
        @include typo-element-2;
        padding: 0 $t-spacing-16;
        .t-chip__prev-icon { margin-left: -8px; }
        .t-chip__remove-icon { margin-right: -8px; }
    }
}

.t-chip + .t-chip { margin-left: $t-spacing-8; }
.t-chip--xsmall + .t-chip--xsmall { margin-left: $t-spacing-4; }
.t-chip--small + .t-chip--small { margin-left: $t-spacing-4; }
.t-chip--medium + .t-chip--medium { margin-left: $t-spacing-8; }
.t-chip--large + .t-chip--large { margin-left: $t-spacing-8; }
.t-chip--xlarge + .t-chip--xlarge { margin-left: $t-spacing-16; }
