@import 'react-tooltip/dist/react-tooltip.css';

.t-tooltip-wrapper {
    display: inline-flex;
    height: fit-content;
}


.t-tooltip {
    --rt-color-dark: #{$t-gray-color--09};
    --rt-color-white: #{$t-gray-color--01};
    --rt-opacity: 0.9;
    font-family: $t-font-family;
    font-size: $t-font-size-small;
    word-break: keep-all;
    word-wrap: break-word;
    z-index: $t-z-index-tooltip;
    display: flex;
    align-items: center;

    &.react-tooltip {
        border: 1px solid $t-gray-color--08;
        padding: $t-padding-tb-16 $t-padding-lr-16;
        line-height: $t-line-height-body;

        & > .react-tooltip-arrow {
            width: 12px;
            height: 12px;
        }

        &.react-tooltip__place-top > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color--08;
            border-right: 1px solid $t-gray-color--08;
            bottom: -6px !important;
        }

        &.react-tooltip__place-right > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color--08;
            border-right: 1px solid $t-gray-color--08;
            left: -6px !important;
        }

        &.react-tooltip__place-bottom > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color--08;
            border-right: 1px solid $t-gray-color--08;
            top: -6px !important;
        }

        &.react-tooltip__place-left > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color--08;
            border-right: 1px solid $t-gray-color--08;
            right: -6px !important;
        }
    }


}


