@import 'react-tooltip/dist/react-tooltip.css';

.t-tooltip-wrapper {
    display: inline-flex;
    height: fit-content;
}


.t-tooltip {
    --rt-color-dark: #{$t-gray-color-6};
    --rt-color-white: #{$t-gray-color-1};
    --rt-opacity: 0.9;
    font-family: $t-font-family;
    word-break: keep-all;
    word-wrap: break-word;
    z-index: $t-z-index-tooltip;
    display: flex;
    align-items: center;

    &.react-tooltip {
        border: 1px solid $t-gray-color-5;
        padding: $t-spacing-16 $t-spacing-16;
        line-height: $t-line-height-body;

        .t-tooltip__title{
            color: $t-gray-color-1;
            font-size: $t-font-size-element-3;
            font-weight: $t-font-weight-element-1;
        }
        .t-tooltip__content{
            color: $t-gray-color-2;
            font-size: $t-font-size-element-4;
            font-weight: $t-font-weight-element-1;
        }

        & > .react-tooltip-arrow {
            width: 12px;
            height: 12px;
        }

        &.react-tooltip__place-top > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color-5;
            border-right: 1px solid $t-gray-color-5;
            bottom: -6px !important;
        }

        &.react-tooltip__place-right > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color-5;
            border-right: 1px solid $t-gray-color-5;
            left: -6px !important;
        }

        &.react-tooltip__place-bottom > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color-5;
            border-right: 1px solid $t-gray-color-5;
            top: -6px !important;
        }

        &.react-tooltip__place-left > .react-tooltip-arrow {
            border-bottom: 1px solid $t-gray-color-5;
            border-right: 1px solid $t-gray-color-5;
            right: -6px !important;
        }
    }


}


