// region [Color]

$t-primary-color: var(--t-primary-color) !default;

$t-secondary-color-red: var(--t-secondary-color-red) !default;
$t-secondary-color-salmon: var(--t-secondary-color-salmon) !default;
$t-secondary-color-yellow: var(--t-secondary-color-yellow) !default;
$t-secondary-color-blue: var(--t-secondary-color-blue) !default;
$t-secondary-color-purple-1: var(--t-secondary-color-purple-1) !default;
$t-secondary-color-purple-2: var(--t-secondary-color-purple-2) !default;
$t-secondary-color-purple-3: var(--t-secondary-color-purple-3) !default;
$t-secondary-color-purple-4: var(--t-secondary-color-purple-4) !default;
$t-secondary-color-pink-1: var(--t-secondary-color-pink-1) !default;
$t-secondary-color-pink-2: var(--t-secondary-color-pink-2) !default;

$t-white-color: var(--t-white-color) !default; // #FFFFFF

$t-gray-color-1: var(--t-gray-color--1) !default; // #F7F7F7
$t-gray-color-2: var(--t-gray-color--2) !default; // #E3E3E4
$t-gray-color-3: var(--t-gray-color--3) !default; // #B8BABC
$t-gray-color-4: var(--t-gray-color--4) !default; // #999999
$t-gray-color-5: var(--t-gray-color--5) !default; // #71747A
$t-gray-color-6: var(--t-gray-color--6) !default; // #54575D

$t-blue-gray-color-1: var(--blue-gray-color-1) !default; // #F9FAFD
$t-blue-gray-color-2: var(--blue-gray-color-2) !default; // #EFF2FF
$t-blue-gray-color-3: var(--blue-gray-color-3) !default; // #E1E5F7
$t-blue-gray-color-4: var(--blue-gray-color-4) !default; // #4B5563
$t-blue-gray-color-5: var(--blue-gray-color-5) !default; // #2B394E

$t-black-color: var(--t-black-color) !default; // #121821


// endregion


// region [Typography]

$t-font-family: var(--t-font-family);

// Headline
$t-font-size-h1: var(--t-font-size-h1);
$t-line-height-h1: var(--t-line-height-h1);
$t-font-weight-h1: var(--t-font-weight-bold);

$t-font-size-h2: var(--t-font-size-h2);
$t-line-height-h2: var(--t-line-height-h2);
$t-font-weight-h2: var(--t-font-weight-bold);

$t-font-size-h3: var(--t-font-size-h3);
$t-line-height-h3: var(--t-line-height-h3);
$t-font-weight-h3: var(--t-font-weight-bold);

$t-font-size-h4: var(--t-font-size-h4);
$t-line-height-h4: var(--t-line-height-h4);
$t-font-weight-h4: var(--t-font-weight-bold);

// Subtitle
$t-font-size-subtitle-1: var(--t-font-size-xlarge);
$t-line-height-subtitle-1: var(--t-line-height-xlarge);
$t-font-weight-subtitle-1: var(--t-font-weight-medium);

$t-font-size-subtitle-2: var(--t-font-size-xlarge);
$t-line-height-subtitle-2: var(--t-line-height-xlarge);
$t-font-weight-subtitle-2: var(--t-font-weight-bold);

$t-font-size-subtitle-3: var(--t-font-size-large);
$t-line-height-subtitle-3: var(--t-line-height-large-2);
$t-font-weight-subtitle-3: var(--t-font-weight-bold);

$t-font-size-subtitle-4: var(--t-font-size-medium);
$t-line-height-subtitle-4: var(--t-line-height-medium-1);
$t-font-weight-subtitle-4: var(--t-font-weight-bold);

// Body
$t-font-size-body-1: var(--t-font-size-xlarge);
$t-line-height-body-1: var(--t-line-height-xlarge);
$t-font-weight-body-1: var(--t-font-weight-regular);

$t-font-size-body-2: var(--t-font-size-large);
$t-line-height-body-2: var(--t-line-height-large-2);
$t-font-weight-body-2: var(--t-font-weight-medium);

$t-font-size-body-3: var(--t-font-size-large);
$t-line-height-body-3: var(--t-line-height-large-2);
$t-font-weight-body-3: var(--t-font-weight-regular);

// Element
$t-font-size-element-1: var(--t-font-size-large);
$t-line-height-element-1: var(--t-line-height-large-1);
$t-font-weight-element-1: var(--t-font-weight-bold);

$t-font-size-element-2: var(--t-font-size-medium);
$t-line-height-element-2: var(--t-line-height-medium-2);
$t-font-weight-element-2: var(--t-font-weight-medium);

$t-font-size-element-3: var(--t-font-size-medium);
$t-line-height-element-3: var(--t-line-height-medium-2);
$t-font-weight-element-3: var(--t-font-weight-regular);

$t-font-size-element-4: var(--t-font-size-small);
$t-line-height-element-4: var(--t-line-height-small);
$t-font-weight-element-4: var(--t-font-weight-regular);

$t-font-size-element-5: var(--t-font-size-xsmall);
$t-line-height-element-5: var(--t-line-height-xsmall);
$t-font-weight-element-5: var(--t-font-weight-bold);

////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  Deprecated  ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////

$t-font-weight-regular: var(--t-font-weight-regular);
$t-font-weight-medium: var(--t-font-weight-medium);
$t-font-weight-bold: var(--t-font-weight-bold);


// content

$t-line-height-default: var(--t-line-height-default);
$t-line-height-header: var(--t-line-height-header);
$t-line-height-body: var(--t-line-height-body);


// endregion


$t-point-color: var(--t-point-color) !default;

$t-primary-color--shade-1: color-mix(in srgb, var(--t-primary-color), black 10%) !default;
$t-primary-color--shade-2: color-mix(in srgb, var(--t-primary-color), black 20%) !default;
$t-primary-color--shade-3: color-mix(in srgb, var(--t-primary-color), black 30%) !default;
$t-primary-color--shade-4: color-mix(in srgb, var(--t-primary-color), black 40%) !default;
$t-primary-color--shade-5: color-mix(in srgb, var(--t-primary-color), black 50%) !default;
$t-primary-color--shade-6: color-mix(in srgb, var(--t-primary-color), black 60%) !default;
$t-primary-color--shade-7: color-mix(in srgb, var(--t-primary-color), black 70%) !default;
$t-primary-color--shade-8: color-mix(in srgb, var(--t-primary-color), black 80%) !default;
$t-primary-color--shade-9: color-mix(in srgb, var(--t-primary-color), black 90%) !default;

$t-primary-color--tint-1: color-mix(in srgb, var(--t-primary-color), white 10%) !default;
$t-primary-color--tint-2: color-mix(in srgb, var(--t-primary-color), white 20%) !default;
$t-primary-color--tint-3: color-mix(in srgb, var(--t-primary-color), white 30%) !default;
$t-primary-color--tint-4: color-mix(in srgb, var(--t-primary-color), white 40%) !default;
$t-primary-color--tint-5: color-mix(in srgb, var(--t-primary-color), white 50%) !default;
$t-primary-color--tint-6: color-mix(in srgb, var(--t-primary-color), white 60%) !default;
$t-primary-color--tint-7: color-mix(in srgb, var(--t-primary-color), white 70%) !default;
$t-primary-color--tint-8: color-mix(in srgb, var(--t-primary-color), white 80%) !default;
$t-primary-color--tint-9: color-mix(in srgb, var(--t-primary-color), white 90%) !default;
$t-primary-color--tint-10: color-mix(in srgb, var(--t-primary-color), white 95%) !default;
$t-primary-color--tint-11: color-mix(in srgb, var(--t-primary-color), white 98%) !default;



$t-layout-background-color: var(--t-white-color) !default;


$t-status-color--required: var(--t-status-color--required) !default;
$t-status-color--success: var(--t-status-color--success) !default;
$t-status-color--error: var(--t-status-color--error) !default;
$t-status-color--default: var(--t-status-color--default) !default;
$t-status-color--processing: var(--t-status-color--processing) !default;
$t-status-color--warning: var(--t-status-color--warning) !default;

$t-background-color--hover: $t-primary-color--tint-9;
$t-background-color--active: $t-primary-color--tint-8;
$t-background-color--read-only: $t-gray-color-1;

// font color
$t-font-color--white: $t-white-color !default;
$t-font-color--black: $t-black-color !default;
$t-font-color--gray-01: $t-gray-color-2 !default; // #999999
$t-font-color--gray-02: $t-gray-color-3 !default; // #666666
$t-font-color--gray-03: $t-gray-color-5 !default; // #333333
$t-font-color--primary-01: $t-primary-color !default; // #333333
$t-font-color--primary-02: $t-primary-color--tint-6 !default; // #333333
$t-font-color--primary-03: $t-gray-color-5 !default; // #333333

$t-font-color--selected: $t-primary-color;
$t-font-color--placeholder: $t-gray-color-4;
$t-font-color--read-only: $t-gray-color-6;
$t-font-color--disabled: $t-gray-color-3;
$t-font-color--default: $t-gray-color-6;
$t-font-color--label: $t-gray-color-3;


$t-font-weight--selected: var(--t-font-weight-medium);
$t-border-color--default: $t-gray-color-3;

// background color
$t-background-color-01: $t-primary-color--tint-9;
$t-background-color-02: $t-primary-color--tint-10;
$t-background-color-03: $t-primary-color--tint-11;

// chart color
$t-chart-color-01: $t-primary-color--shade-1;
$t-chart-color-02: $t-primary-color--shade-2;
$t-chart-color-03: $t-primary-color--shade-3;
$t-chart-color-04: $t-primary-color--shade-4;
$t-chart-color-05: $t-primary-color--shade-5;
$t-chart-color-06: color-mix(in srgb, var(--t-point-color), black 20%);
$t-chart-color-07: color-mix(in srgb, var(--t-point-color), black 20%);
$t-chart-color-08: color-mix(in srgb, var(--t-point-color), black 20%);
$t-chart-color-09: color-mix(in srgb, var(--t-point-color), black 20%);
$t-chart-color-10: color-mix(in srgb, var(--t-point-color), black 20%);

// grid color
$t-grid-border-color--01: #DDDDDD;
$t-grid-border-color--02: #EEEEEE;
$t-grid-border-color--03: $t-black-color;
$t-grid-background-color--01: $t-gray-color-2;

$t-input-border-color--01: #CCCCCC;


// endregion










// region Spacing

$t-margin-lr-4: 4px;
$t-margin-lr-8: 8px;
$t-margin-lr-10: 10px;
$t-margin-lr-12: 12px;
$t-margin-lr-16: 16px;
$t-margin-lr-24: 24px;
$t-margin-lr-32: 32px;
$t-margin-lr-48: 48px;

$t-margin-tb-8: 8px;
$t-margin-tb-12: 12px;
$t-margin-tb-16: 16px;
$t-margin-tb-24: 24px;
$t-margin-tb-32: 32px;
$t-margin-tb-48: 48px;
$t-margin-tb-60: 60px;

$t-padding-lr-8: 8px;
$t-padding-lr-10: 10px;
$t-padding-lr-12: 12px;
$t-padding-lr-16: 16px;
$t-padding-lr-24: 24px;
$t-padding-lr-32: 32px;
$t-padding-lr-48: 48px;
$t-padding-lr-60: 60px;
$t-padding-lr-80: 80px;

$t-padding-tb-8: 8px;
$t-padding-tb-12: 12px;
$t-padding-tb-16: 16px;
$t-padding-tb-24: 24px;
$t-padding-tb-32: 32px;
$t-padding-tb-48: 48px;
$t-padding-tb-60: 60px;
$t-padding-tb-80: 80px;

// endregion


// region [Z-Index]

// frame
$t-z-index-header: 100;

$t-z-index-tooltip: var(--t-z-index-tooltip);
$t-z-index-modal: var(--t-z-index-modal);
$t-z-index-dropdown: var(--t-z-index-dropdown);
$t-z-index-drop-holder: var(--t-z-index-drop-holder);
$t-z-index-page-title: var(--t-z-index-page-title);

// endregion
