@import 'ThemeToken';

:export {
    tPrimaryColor: $t-primary-color;
    tPointColor: $t-point-color;

    tPrimaryColorShade1: $t-primary-color--shade-1;
    tPrimaryColorShade2: $t-primary-color--shade-2;
    tPrimaryColorShade3: $t-primary-color--shade-3;
    tPrimaryColorShade4: $t-primary-color--shade-4;
    tPrimaryColorShade5: $t-primary-color--shade-5;
    tPrimaryColorShade6: $t-primary-color--shade-6;
    tPrimaryColorShade7: $t-primary-color--shade-7;
    tPrimaryColorShade8: $t-primary-color--shade-8;
    tPrimaryColorShade9: $t-primary-color--shade-9;
    tPrimaryColorTint1: $t-primary-color--tint-1;
    tPrimaryColorTint2: $t-primary-color--tint-2;
    tPrimaryColorTint3: $t-primary-color--tint-3;
    tPrimaryColorTint4: $t-primary-color--tint-4;
    tPrimaryColorTint5: $t-primary-color--tint-5;
    tPrimaryColorTint6: $t-primary-color--tint-6;
    tPrimaryColorTint7: $t-primary-color--tint-7;
    tPrimaryColorTint8: $t-primary-color--tint-8;
    tPrimaryColorTint9: $t-primary-color--tint-9;
    tPrimaryColorTint10: $t-primary-color--tint-10;
    tPrimaryColorTint11: $t-primary-color--tint-11;
    //tPointColorShade1: $t-point-color--shade-1;
    //tPointColorShade2: $t-point-color--shade-2;
    //tPointColorShade3: $t-point-color--shade-3;
    //tPointColorShade4: $t-point-color--shade-4;
    //tPointColorShade5: $t-point-color--shade-5;
    //tPointColorShade6: $t-point-color--shade-6;
    //tPointColorTint1: $t-point-color--tint-1;
    //tPointColorTint2: $t-point-color--tint-2;
    //tPointColorTint3: $t-point-color--tint-3;
    //tPointColorTint4: $t-point-color--tint-4;
    //tPointColorTint5: $t-point-color--tint-5;
    //tPointColorTint6: $t-point-color--tint-6;

    tWhiteColor: $t-white-color;
    tGrayColor1: $t-gray-color-1;
    tGrayColor2: $t-gray-color-2;
    tGrayColor3: $t-gray-color-3;
    tGrayColor4: $t-gray-color-4;
    tGrayColor5: $t-gray-color-5;
    tGrayColor6: $t-gray-color-6;
    tBlackColor: $t-black-color;

    tSecondaryColorPurple1: $t-secondary-color-purple-1;


    tStatusColorSuccess: $t-status-color--success;
    tStatusColorError: $t-status-color--error;
    tStatusColorWarning: $t-status-color--warning;
}
