.t-search-box {

    .t-search-box__content {
        display: flex;
        flex-direction: column;
        background-color: $t-background-color-01;
        padding: 0 $t-padding-tb-32;

        & > .t-search-box-row {
            &:first-child { padding-top: $t-padding-tb-32; }
            &:last-child { padding-bottom: $t-padding-tb-32; }
        }

        .t-search-box__content__expand-zone {

            .t-search-box__content__expand-zone__panel {
                height: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: $t-margin-tb-32;
                .t-search-box__content__expand-zone__panel__divider {
                    border-bottom: 1px solid $t-gray-color--05;
                    width: 100%;
                }

                .t-search-box__content__expand-zone__panel__expand-button-wrapper {
                    position: absolute;
                    width: 128px;
                    left: calc(50% - 64px) ;
                    background: $t-primary-color--tint-9;
                    padding: 0 $t-margin-lr-32;
                    color: $t-primary-color;

                    .t-search-box__content__expand-zone__panel__expand-button {
                        display: flex;
                        gap: $t-margin-lr-8;
                        align-items: center;
                        @include user-select-none;

                        .t-icon {
                            transform: rotate(0deg);
                            transition: 0.2s;
                        }

                        &:hover {
                            cursor: pointer;
                            font-weight: $t-font-weight-medium;
                        }
                    }
                }
            }

            &.t-search-box__content__expand-zone--expanded {
                .t-search-box__content__expand-zone__panel .t-search-box__content__expand-zone__panel__expand-button .t-icon {
                    transform: rotate(180deg);
                }
            }
        }

    }

    .t-search-box__action-bar {
        margin-top: $t-margin-tb-48;
        display: flex;
        justify-content: center;
    }

    .t-search-box__action-bar {
        display: flex;


        .t-search-box__form-action-bar__left-action {
            flex: 1 0 auto;
        }
        .t-search-box__form-action-bar__right-action {
            flex: 0 1 auto;
        }
    }

    .t-search-box-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 0;
        padding: $t-padding-tb-16 0;
    }


}


.t-search-box-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    flex: 0 0 auto;

    .t-search-box-item__label {
        font-weight: $t-font-weight-normal;
    }
    .t-search-box-item__content {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        gap: $t-margin-lr-8;
        min-height: 46px;
        line-height: $t-line-height-body;
    }

    &.t-search-box-item--required .t-search-box-item__label::after {
        content: '*';
        color: $t-status-color--required;
        margin-left: $t-margin-lr-4;
    }
}
