.t-tab-box {

    .t-tab-box__tab-list {
        display: flex;
        align-items: center;
    }

    .t-tab-item-label:first-child { border-radius: 6px 0 0 0; }
    .t-tab-item-label:last-child { border-radius: 0 6px 0 0; }

}


.t-tab-item-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    height: 40px;
    padding: 0 $t-spacing-16;
    margin-right: -1px;
    color: $t-gray-color-5;
    border: 1px solid $t-gray-color-2;
    border-bottom: none;
    background: $t-gray-color-1;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    @include typo-body-2;

    &.t-tab-item-label--active {

        color: $t-white-color;
        border-color: $t-primary-color;
        background-color: $t-primary-color;
        @include typo-body-3;
        z-index: 1;
    }
}

.t-tab-item-content {
    padding: $t-spacing-16 $t-spacing-16;
}
