
.t-pagination {

    display: flex;
    justify-content: center;
    height: 24px;
    width: 100%;

    .t-pagination__nav-button-container {
        display: flex;
        align-items: center;
        gap: 16px;

        .t-icon.t-pagination__nav-button-container__button {
            @include icon-color($t-gray-color--07);

            &:hover { cursor: pointer; @include icon-color($t-primary-color);}
            &:active { @include icon-color($t-primary-color--shade-2)}

            &.t-pagination__nav-button-container__button--disabled {
                @include icon-color($t-gray-color--05);
                pointer-events: none;
            }

            &:focus-visible {
                outline: 1px solid $t-primary-color;
            }
        }

    }

    .t-pagination__page-container {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 0 36px;

        .t-pagination__page-container__page {
            min-width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            .t-pagination__page-container__page__button {
                height: 24px;
                padding: 0 3px;
                border: none;
                background: none;
                color: $t-gray-color--07;
                font-size: $t-font-size-medium;
                cursor: pointer;

                &:hover {
                    color: $t-primary-color;
                }
                &:focus-visible {
                    outline: 1px solid $t-primary-color;
                }

                &.t-pagination__page-container__page__button--active {
                    color: $t-primary-color;
                    font-weight: $t-font-weight-bold;
                    border-bottom: 2px solid $t-primary-color;
                }
            }
        }

    }

}
