.t-checkbox {
    line-height: $t-line-height-header;

    .t-checkbox__container {
        position: relative;
        display: flex;
        align-items: center;
        outline: none;

        .t-checkbox__input-hidden {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            margin: 0;
            appearance: none;
            cursor: pointer;
        }

        .t-checkbox__icon {
            &.t-checkbox__icon--check, &.t-checkbox__icon--indeterminate { fill: $t-primary-color; stroke: $t-primary-color; }
            &.t-checkbox__icon--uncheck { fill: $t-gray-color-3; stroke: $t-gray-color-3; }
        }
        .t-checkbox__label {
            margin-left: $t-spacing-8 * 1.25;
            @include typo-body-3;
            color: $t-gray-color-6;
        }

        &:focus .t-checkbox__icon {
            outline: 1px solid $t-primary-color;
        }
    }

    .t-checkbox__message {
        @include typo-element-3;
        height: 18px;
        color: $t-gray-color-4;
        .t-text-field__details__message {
            margin-right: $t-spacing-16;
            @include ellipsis;
        }
    }


    &.t-checkbox--disabled .t-checkbox__container {
        pointer-events: none;
        color: $t-font-color--read-only;

        .t-checkbox__icon--check, .t-checkbox__icon--indeterminate { fill: $t-gray-color-3; stroke: $t-gray-color-3; }
        .t-checkbox__icon--uncheck { fill: $t-gray-color-3; stroke: $t-gray-color-3; }
    }

    &.t-checkbox--failure {

        @include animation-shake();

        .t-text-field__container {border-color: $t-status-color--error;}
        .t-checkbox__message {color: $t-status-color--error;}
    }
    &.t-checkbox--success {
        .t-text-field__container {border-color: $t-status-color--success;}
        .t-checkbox__message {color: $t-status-color--success;}
    }
}
