.t-checkbox {

    .t-checkbox__container {
        display: flex;
        align-items: center;
        gap: $t-spacing-8;
        height: 22px;

        cursor: pointer;
        outline: none;
        user-select: none;

        .t-checkbox__icon {

            & svg { width: 16px; height: 16px; }
            &:is(.t-checkbox__icon--check, .t-checkbox__icon--indeterminate) svg {
                fill: $t-primary-color;
                stroke: $t-white-color;
            }
            &.t-checkbox__icon--uncheck svg { fill: $t-white-color; stroke: $t-gray-color-3; }
        }

        .t-checkbox__label {
            position: relative;
            top: 1px;
            @include typo-body-3;
            color: $t-black-color;
        }


        &:is(:focus-within, :hover) {
            .t-checkbox__icon.t-checkbox__icon--uncheck svg {
                color: $t-primary-color;
                stroke: $t-primary-color;
            }
        }
    }

    .t-checkbox__message {
        @include typo-element-3;
        height: 18px;
        color: $t-gray-color-4;
        .t-text-field__details__message {
            margin-right: $t-spacing-16;
            @include ellipsis;
        }
    }

    &.t-checkbox--disabled .t-checkbox__container {
        pointer-events: none;
        color: $t-font-color--read-only;

        .t-checkbox__label { color: $t-font-color--disabled; }

        :is(.t-checkbox__icon--check, .t-checkbox__icon--indeterminate) svg {
            fill: $t-gray-color-3;
            stroke: $t-white-color;
        }
        .t-checkbox__icon--uncheck { color: $t-gray-color-3; stroke: $t-gray-color-3; }
    }

    &.t-checkbox--failure {

        @include animation-shake();

        .t-text-field__container {border-color: $t-status-color--error;}
        .t-checkbox__message {color: $t-status-color--error;}
    }
    &.t-checkbox--success {
        .t-text-field__container {border-color: $t-status-color--success;}
        .t-checkbox__message {color: $t-status-color--success;}
    }
}
