.t-text-area {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: $t-line-height-default;


    .t-text-area__label {
        z-index: 0;
        font-size: $t-font-size-medium;
        font-weight: $t-font-weight-bold;
        margin-bottom: 12px;
        display: inline-block;

        &.t-text-area__label--required::after {
            content: '*';
            color: $t-status-color--required;
            margin-left: 6px;
            font-weight: $t-font-weight-bold;
        }
    }

    .t-text-area__container {
        border: 1px solid $t-gray-color-3;
        width: 100%;
        padding: 16px 20px 16px $t-padding-lr-16;
        position: relative;
        display: flex;
        align-items: center;
        gap: 2px;
        z-index: 0;

        .t-text-area__container__input {
            font-family: $t-font-family;
            width: 100%;
            color: $t-black-color;
            border: none;
            outline: none;
            font-size: $t-font-size-body-1;
            line-height: $t-line-height-body;
            background: transparent;
            resize: none;

            &::placeholder {
                color: $t-font-color--placeholder;
            }
        }

        .t-text-area__container__action-icon {
            color: $t-gray-color-5;
            &:nth-child(2) { margin-left: 16px; }
            &:not(:nth-child(2)) { margin-left: 4px; }
        }
    }
    .t-text-area__details {
        display: flex;
        font-size: $t-font-size-small;
        height: 18px;
        line-height: 18px;
        color: $t-gray-color-4;
        margin-top: 2px;
        position: absolute;
        width: 100%;
        .t-text-area__details__message {
            flex: 1 1 auto;
            margin-right: $t-margin-lr-16;
            @include ellipsis;
        }
        .t-text-area__details__counter {
            flex: 0 0 auto;
            text-align: right;
            display: none;
        }
    }
    &.t-text-area--focused {
        .t-text-area__details .t-text-area__details__counter { display: unset; }
    }

    &.t-text-area--underline .t-text-area__container {
        border-width: 0 0 1px 0;
        padding: 0;


        &:focus-within {
            border-color: $t-primary-color;
            border-width: 0 0 2px 0;
        }
    }
    &.t-text-area--outline .t-text-area__container {
        border-width: 1px;
        &:focus-within {
            border-color: $t-primary-color;
        }
    }
    &.t-text-area--disabled .t-text-area__container {
        background: $t-gray-color-2;

        .t-text-area__container__input {
            color: $t-font-color--disabled;
            cursor: default;
        }
    }
    &.t-text-area--failure {

        @include animation-shake();

        .t-text-area__container {border-color: $t-status-color--error;}
        .t-text-area__details {color: $t-status-color--error;}
    }
    &.t-text-area--success {
        .t-text-area__container {border-color: $t-status-color--success;}
        .t-text-area__details {color: $t-status-color--success;}
    }

}
