
.t-icon {
    @include user-select-none;

    stroke: $t-black-color;
    fill: $t-black-color;

    $t-icon--size-xsmall: 16px;
    $t-icon--size-small: 24px;
    $t-icon--size-medium: 32px;
    $t-icon--size-large: 36px;
    $t-icon--size-xlarge: 48px;

    &.t-icon--clickable {
        cursor: pointer;
    }

    &.t-icon--disabled {
        cursor: unset;
        color: $t-font-color--disabled;
        stroke: $t-font-color--disabled;
        fill: $t-font-color--disabled;
    }

    &.t-icon--material {
        //@import 'material-icons/iconfont/outlined.css';
        //@import 'material-icons/iconfont/filled.css';
        //@import 'material-icons/iconfont/round.css';
        //@import 'material-icons/iconfont/two-tone.css';
        //@import 'material-icons/iconfont/sharp.css';

        @font-face {
            font-family: 'Material Icons Outlined';
            font-style: normal;
            font-weight: 400;
            font-display: block;
            src: url('material-icons/iconfont/material-icons-outlined.woff2') format('woff2'),
            url('material-icons/iconfont/material-icons-outlined.woff') format('woff');
        }

        &.material-icons-outlined {
            font-family: 'Material Icons Outlined';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            font-feature-settings: 'liga';
        }

        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            font-display: block;
            src: url('material-icons/iconfont/material-icons.woff2') format('woff2'),
            url('material-icons/iconfont/material-icons.woff') format('woff');
        }
        &.material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: optimizeLegibility;
            font-feature-settings: 'liga';
        }
        &.t-icon--xsmall { font-size: $t-icon--size-xsmall; }
        &.t-icon--small { font-size: $t-icon--size-small; }
        &.t-icon--medium { font-size: $t-icon--size-medium; }
        &.t-icon--large { font-size: $t-icon--size-large; }
        &.t-icon--xlarge { font-size: $t-icon--size-xlarge; }
    }

    &.t-icon--original {
        font-size: 0;
        &.t-icon--xsmall > svg { width: $t-icon--size-xsmall; height: $t-icon--size-xsmall; }
        &.t-icon--small > svg { width: $t-icon--size-small; height: $t-icon--size-small; }
        &.t-icon--medium > svg { width: $t-icon--size-medium; height: $t-icon--size-medium; }
        &.t-icon--large > svg { width: $t-icon--size-large; height: $t-icon--size-large; }
        &.t-icon--xlarge > svg { width: $t-icon--size-xlarge; height: $t-icon--size-xlarge; }
    }
}


