@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';

// AG Grid's customizable variables
// https://www.ag-grid.com/react-data-grid/global-style-customisation-variables/

.t-data-grid {

    display: flex;
    flex-direction: column;

    &:not(:first-child) {
        margin-top: $t-spacing-32;
    }

    .t-data-grid__header {
        margin-bottom: $t-spacing-10;
        display: flex;
        align-items: center;
        gap: $t-spacing-16;

        .t-data-grid__header__pagination {
            color: $t-gray-color-5;
            white-space: nowrap;
            @include typo-element-3;

            strong {
                color: $t-black-color;
                font-weight: $t-font-weight-regular;
            }
        }
        .t-data-grid__header__select-indicator {
            @include typo-element-3;
            color: $t-primary-color;
        }
    }

    .t-data-grid__body.ag-theme-material {
        --ag-material-primary-color: #{$t-primary-color};
        --ag-font-family: #{$t-font-family};
        --ag-font-size: #{$t-font-size-body-3};

        --ag-checkbox-checked-color: #{$t-primary-color};
        --ag-checkbox-indeterminate-color: #{$t-primary-color};
        --ag-checkbox-unchecked-color: #{$t-border-color--default};
        --ag-checkbox-border-radius: 50%;
        --ag-checkbox-background-color: transparent;

        --ag-input-focus-box-shadow: none;

        --ag-cell-horizontal-padding: 32px;
        --ag-row-border-color: #{$t-grid-border-color--02};

        --ag-header-cell-hover-background-color: #{$t-blue-gray-color-3};
        --ag-border-color: none;
        --ag-foreground-color: #{$t-gray-color-6};

        .ag-header {

            .ag-header-row {
                color: $t-black-color;
                background-color: $t-blue-gray-color-2;
                @include typo-subtitle-4;

                & .ag-header-cell {
                    padding: 0 $t-spacing-20;

                    .ag-header-cell-label { position: relative; }
                }
            }

            .ag-header-viewport {
                background: $t-gray-color-1;
            }
        }

        .ag-checkbox-input-wrapper:not(.ag-disabled) {
            .ag-checkbox-input {
                cursor: pointer;
            }
        }

        .ag-overlay {
            height: calc(100% - 60px);
            top: 60px;

            .ag-overlay-no-rows-wrapper .ag-react-container {
                pointer-events: all;
                .t-data-grid__body__no-rows-template {
                    .t-data-grid__body__no-rows-template__guide-message {
                        @include typo-body-3;
                        color: $t-gray-color-4;
                        margin-bottom: $t-spacing-32;
                    }

                    .t-data-grid__body__no-rows-template__add-button {
                        min-width: 144px;
                    }
                }
            }
        }

        .ag-center-cols-container {
            min-width: 100%;
        }

        .ag-cell { padding: 0 $t-spacing-20; }

        .ag-cell, .ag-cell-wrapper {
            display: flex;
            align-items: center;

            @include ellipsis;
            &::selection { color: transparent; background: transparent;}

            &.ag-right-aligned-cell {
                justify-content: flex-end;
            }
        }

        .ag-overlay-no-rows-wrapper {
            border-bottom: 1px solid $t-grid-border-color--01;
        }

        .ag-layout-auto-height .ag-center-cols-clipper, .ag-theme-material .ag-layout-auto-height .ag-center-cols-container, .ag-theme-material .ag-layout-print .ag-center-cols-clipper, .ag-theme-material .ag-layout-print .ag-center-cols-containe {
            min-height: unset;
        }

    }


    .t-data-grid__pagination.t-pagination {
        margin-top: $t-spacing-40;
    }
}
