@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-material.css';

// AG Grid's customizable variables
// https://www.ag-grid.com/react-data-grid/global-style-customisation-variables/

.t-data-grid {

    display: flex;
    flex-direction: column;

    &:not(:first-child) {
        margin-top: $t-spacing-32;
    }

    .t-data-grid__header {
        height: 46px;
        margin-bottom: $t-spacing-8;
        display: flex;
        align-items: center;
        gap: $t-spacing-16;

        .t-data-grid__header__pagination {
            color: $t-gray-color-5;
            strong { color: $t-primary-color; }
        }
        .t-data-grid__header__select-indicator {
            color: $t-primary-color;
            font-weight: $t-font-weight-medium;
        }
        .t-data-grid__header__left-action {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
        }
        .t-data-grid__header__right-action {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .t-data-grid__body.ag-theme-material {
        --ag-material-primary-color: #{$t-primary-color};
        --ag-font-family: #{$t-font-family};
        --ag-font-size: var(--t-font-size-medium);

        --ag-checkbox-checked-color: #{$t-primary-color};
        --ag-checkbox-indeterminate-color: #{$t-primary-color};
        --ag-checkbox-unchecked-color: #{$t-border-color--default};
        --ag-checkbox-border-radius: 50%;
        --ag-checkbox-background-color: transparent;

        --ag-input-focus-box-shadow: none;

        --ag-cell-horizontal-padding: 32px;
        --ag-row-border-color: #{$t-grid-border-color--01};

        border-top: 2px solid $t-grid-border-color--03;

        .ag-header {

            border-bottom: 1px solid $t-border-color--default;

            .ag-header-row {
                font-size: var(--ag-font-size);
                font-weight: $t-font-weight-bold;
                color: $t-black-color;
                background-color: $t-gray-color-1;
            }

            .ag-header-viewport {
                background: $t-gray-color-1;
            }
        }

        .ag-checkbox-input-wrapper:not(.ag-disabled) {
            .ag-checkbox-input {
                cursor: pointer;
            }
        }

        .ag-overlay {
            height: calc(100% - 60px);
            top: 60px;

            .ag-overlay-no-rows-wrapper .ag-react-container {
                pointer-events: all;
                .t-data-grid__body__no-rows-template {
                    .t-data-grid__body__no-rows-template__guide-message {
                        @include typo-body-3;
                        color: $t-gray-color-4;
                        margin-bottom: $t-spacing-32;
                    }

                    .t-data-grid__body__no-rows-template__add-button {
                        min-width: 144px;
                    }
                }
            }
        }

        .ag-center-cols-container {
            min-width: 100%;
        }


        .ag-cell, .ag-cell-wrapper {
            display: flex;
            align-items: center;
            @include ellipsis;
            &::selection { color: transparent; background: transparent;}

            &.ag-right-aligned-cell {
                justify-content: flex-end;
            }
        }

        .ag-overlay-no-rows-wrapper {
            border-bottom: 1px solid $t-grid-border-color--01;
        }

        .ag-layout-auto-height .ag-center-cols-clipper, .ag-theme-material .ag-layout-auto-height .ag-center-cols-container, .ag-theme-material .ag-layout-print .ag-center-cols-clipper, .ag-theme-material .ag-layout-print .ag-center-cols-containe {
            min-height: unset;
        }

    }


    .t-data-grid__pagination.t-pagination {
        margin-top: 64px;
    }
}
