.tks-toast {

    --toastify-color-light: #{$t-white-color};
    --toastify-text-color-light: #{$t-gray-color-4};

    --toastify-color-progress-light: #{$t-primary-color};
    --toastify-color-progress-info: #{$t-primary-color};
    --toastify-color-progress-success: #{$t-primary-color};
    --toastify-color-progress-warning: #{$t-primary-color};
    --toastify-color-progress-error: #{$t-primary-color};
    --toastify-color-progress-bgo: 0.15;

    --toastify-toast-width: 320px;


    $t-toastify-progress-bar-height: 5px;

    @at-root .tks-toast-container {

        &.Toastify__toast-container--top-right {
            top: $t-spacing-64;

            .Toastify__toast {

                padding-top: $t-spacing-16;
                padding-right: calc($t-spacing-16 + $t-spacing-20 + $t-spacing-10);
                padding-bottom: calc($t-spacing-16 + $t-toastify-progress-bar-height);
                padding-left: $t-spacing-16;


                border-radius: 4px;
                font-weight: normal;
                @include typo-element-3
            }


            .Toastify__close-button {
                padding-top: 10px;
                margin-left: $t-spacing-16;

            }

        }

        &.Toastify__toast-container {
            padding: 0;
        }

    }

    .Toastify__toast-icon {
        margin-inline-end: $t-spacing-8;

        & > svg {
            width: 24px;
            height: 24px;

        }
    }

    .Toastify__close-button {
        color: $t-black-color;

        & > svg {
            width: 20px;
            height: 20px;
        }
    }

    .Toastify__progress-bar {
        height: $t-toastify-progress-bar-height;
        opacity: 1;
    }

}


