@use 'src/styles/designToken/Entry' as dt;

.t-date-picker {
    position: relative;
    width: 156px;
    @include dt.user-select-none;

    .t-date-picker__text-field {
        .t-text-field__container {

            .t-text-field__container__input {
                caret-color: dt.$t-primary-color;
            }
        }
    }

    .t-drop-holder.t-date-picker__drop-holder {

        margin-right: -4px;

        .t-drop-holder__items { border: none; }
        .t-drop-holder__holder { height: 24px; }
    }
    &.t-date-picker--disabled {
        .t-drop-holder.t-date-picker__drop-holder {
            pointer-events: none;
        }
    }
}

.t-time-selector {
    width: 138px;
    height: 100%;
    overflow: auto;
    padding: dt.$t-spacing-16;

    .t-time-selector__content__time-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        .t-time-selector__content__time-list__item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid dt.$t-gray-color-2;
            @include dt.typo-element-2;

            &:hover {
                background: dt.$t-gray-color-1;
            }

            &.t-time-selector__content__time-list__item--selected {
                color: dt.$t-white-color;
                border: 1px solid dt.$t-primary-color;
                background: dt.$t-primary-color;
            }
        }
    }
}

.t-day-selector {
    min-width: 260px;
    padding: dt.$t-spacing-20;
    border-radius: 8px;
    box-shadow: dt.$t-shadow--modal;

    display: flex;
    height: 304px;
    position: relative;

    .t-day-selector__date-section {
        flex: 1 0 auto;
        /* Header */
        .t-day-selector__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 24px;

            @include dt.typo-subtitle-3;

            .t-day-selector__header__current-display-date {
                display: inline-flex;
                align-items: center;
                gap: dt.$t-spacing-2;

                .t-day-selector-display-year-month,
                .t-day-selector-display-date__icon {
                    cursor: pointer;
                }
            }

            .t-day-selector__header__control {
                display: inline-flex;
                align-items: center;

                .t-day-selector__header__control__icon-button {
                    width: 20px;
                    min-width: 20px;
                    padding: 0;
                    margin: 0;
                    border-color: dt.$t-gray-color-2;
                }
                .t-day-selector__header__control__today-button {
                    width: 36px;
                    min-width: 36px;
                    padding: 0 dt.$t-spacing-8;
                    border-color: dt.$t-gray-color-2;
                }
                .t-button--xsmall + .t-button--xsmall {
                    margin-left: dt.$t-spacing-2;
                }
            }
        }

        .t-day-selector__content {
            height: calc(100% - 44px);
            margin-top: dt.$t-spacing-20;

            .t-day-selector__content__weekday {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                flex: 0 1 auto;
                padding: 0 dt.$t-spacing-2;
                margin-bottom: dt.$t-spacing-16;
                color: dt.$t-gray-color-5;

                @include dt.typo-element-3;

                .t-day-selector__content__weekday__item {
                    text-align: center;
                }
            }

            .t-day-selector__content__day-container {
                display: grid;
                row-gap: dt.$t-spacing-16;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(0, 24px);

                .t-day-selector__content__day-container__item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;


                    .t-day-selector__content__day-container__item__day {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        cursor: pointer;
                        color: dt.$t-black-color;

                        @include dt.typo-element-2;

                        &:hover {
                            border: 1px solid dt.$t-gray-color-1;
                            background: dt.$t-gray-color-1;
                        }
                        &.t-day-selector__content__day-container__item__day--today {
                            color: dt.$t-primary-color;
                            border: 1px solid dt.$t-secondary-color-blue;
                        }
                        &.t-day-selector__content__day-container__item__day--selected {
                            color: dt.$t-white-color;
                            border: 1px solid dt.$t-primary-color;
                            background-color: dt.$t-primary-color;
                        }
                        &.t-day-selector__content__day-container__item__day--disabled {
                            color: dt.$t-gray-color-4;
                            pointer-events: none;
                        }
                    }

                }
            }
        }
    }

    .t-day-selector__time-section {
        flex: 1 0 auto;
        height: 100%;
    }


}

.t-month-selector {
    width: 260px;
    padding: dt.$t-spacing-20;
    border-radius: 8px;
    box-shadow: dt.$t-shadow--modal;

    .t-month-selector__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        @include dt.typo-subtitle-3;

        .t-month-selector__header__current-display-date {
            display: inline-flex;
            align-items: center;
            gap: dt.$t-spacing-2;

            .t-month-selector-display-year,
            .t-month-selector-display-date__icon {
                cursor: pointer;
            }

            .t-month-selector__header__current-display-date__icon--open {
                transform: rotate(180deg);
            }
        }

        .t-month-selector__header__control {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            .t-month-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
                border-color: dt.$t-gray-color-2;
            }
            .t-month-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 dt.$t-spacing-8;
                border-color: dt.$t-gray-color-2;
            }
            .t-button--xsmall + .t-button--xsmall {
                margin-left: dt.$t-spacing-2;
            }
        }
    }

    .t-month-selector__content {
        margin-top: calc(#{dt.$t-spacing-40} + #{dt.$t-spacing-2});

        .t-month-selector__content__month-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: dt.$t-spacing-10;
            row-gap: calc(#{dt.$t-spacing-32} + #{dt.$t-spacing-4});

            margin-bottom: dt.$t-spacing-12;
            color: dt.$t-gray-color-5;

            .t-month-selector__content__month__item {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;
                color: dt.$t-black-color;
                border-radius: 50%;
                cursor: pointer;

                @include dt.typo-subtitle-1;

                &:hover {
                    border: 1px solid dt.$t-gray-color-1;
                    background: dt.$t-gray-color-1;
                }
                &.t-month-selector__content__month-container__item__month--today {
                    color: dt.$t-primary-color;
                    border: 1px solid dt.$t-secondary-color-blue;
                }
                &.t-month-selector__content__month-container__item__month--selected {
                    color: dt.$t-white-color;
                    border: 1px solid dt.$t-primary-color;
                    background-color: dt.$t-primary-color;
                }
                &.t-month-selector__content__month-container__item__month--disabled {
                    color: dt.$t-gray-color-4;
                    pointer-events: none;
                }
            }
        }

    }
}

.t-year-selector {
    width: 260px;
    padding: dt.$t-spacing-20;
    border-radius: 8px;
    box-shadow: dt.$t-shadow--modal;

    /* Header */
    .t-year-selector__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        @include dt.typo-subtitle-3;

        .t-year-selector__header__current-display-date {
            display: inline-flex;
            align-items: center;
            gap: dt.$t-spacing-2;


            .t-year-selector__header__current-display-date__icon {
                cursor: pointer;

                &.t-year-selector__header__current-display-date__icon--open {
                    transform: rotate(180deg);
                }
            }
        }

        .t-year-selector__header__control {
            display: inline-flex;
            align-items: center;

            .t-year-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
                border-color: dt.$t-gray-color-2;
            }
            .t-year-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 dt.$t-spacing-8;
                border-color: dt.$t-gray-color-2;
            }
            .t-button--xsmall + .t-button--xsmall {
                margin-left: dt.$t-spacing-2;
            }
        }
    }

    .t-year-selector__content {
        margin-top: dt.$t-spacing-32;

        .t-year-selector__content__year-container {
            display: grid;
            gap: dt.$t-spacing-24 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(0, 24px);
            padding: 0 dt.$t-spacing-8 dt.$t-spacing-10 dt.$t-spacing-8;

            .t-year-selector__content__year-container__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 30px;
                border-radius: 1000px;
                cursor: pointer;
                @include dt.typo-body-2;

                &:hover {
                    border: 1px solid dt.$t-gray-color-1;
                    background: dt.$t-gray-color-1;
                }
                &.t-year-selector__content__year-container__item__year--today {
                    color: dt.$t-primary-color;
                    border: 1px solid dt.$t-secondary-color-blue;
                }
                &.t-year-selector__content__year-container__item__year--selected {
                    color: dt.$t-white-color;
                    border: 1px solid dt.$t-primary-color;
                    background: dt.$t-primary-color;
                }
                &.t-year-selector__content__year-container__item__year--disabled {
                    color: dt.$t-gray-color-4;
                    pointer-events: none;
                }
            }
        }
    }
}
