
.t-date-picker {
    position: relative;
    width: 156px;
    user-select: none;

    .t-date-picker__text-field {
        .t-text-field__container {

            .t-text-field__container__input {
                caret-color: $t-primary-color;
            }
        }
    }

    .t-drop-holder.t-date-picker__drop-holder {

        margin-right: -4px;

        .t-drop-holder__items { border: none; }
        .t-drop-holder__holder { height: 24px; }
    }
    &.t-date-picker--disabled {
        .t-drop-holder.t-date-picker__drop-holder {
            pointer-events: none;
        }
    }
}

// Day Selector
.t-day-selector {
    width: 260px;
    padding: $t-spacing-20;
    border-radius: 8px;
    box-shadow: $t-shadow--modal;

    /* Header */
    .t-day-selector__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        @include typo-subtitle-3;

        .t-day-selector__header__current-display-date {
            display: inline-flex;
            align-items: center;
            gap: $t-spacing-2;
            cursor: pointer;
        }

        .t-day-selector__header__control {
            display: inline-flex;
            align-items: center;

            .t-day-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
                border-color: $t-gray-color-2;
            }
            .t-day-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 $t-spacing-8;
                border-color: $t-gray-color-2;
            }
            .t-button--xsmall + .t-button--xsmall {
                margin-left: $t-spacing-2;
            }
        }
    }

    .t-day-selector__content {
        height: calc(100% - 44px);
        margin-top: $t-spacing-20;

        .t-day-selector__content__weekday {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            flex: 0 1 auto;
            padding: 0 $t-spacing-2;
            margin-bottom: $t-spacing-16;
            color: $t-gray-color-5;

            @include typo-element-3;

            .t-day-selector__content__weekday__item {
                text-align: center;
            }
        }

        .t-day-selector__content__day-container {
            display: grid;
            row-gap: $t-spacing-16;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(0, 24px);

            .t-day-selector__content__day-container__item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                .t-day-selector__content__day-container__item__day {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    cursor: pointer;

                    @include typo-element-2;

                    &:hover {
                        border: 1px solid $t-gray-color-1;
                        background: $t-gray-color-1;
                    }
                    &.t-day-selector__content__day-container__item__day--today {
                        color: $t-primary-color;
                        border: 1px solid $t-secondary-color-blue;
                    }
                    &.t-day-selector__content__day-container__item__day--selected {
                        color: $t-white-color;
                        border: 1px solid $t-primary-color;
                        background-color: $t-primary-color;
                    }
                    &.t-day-selector__content__day-container__item__day--disabled {
                        color: $t-gray-color-4;
                        pointer-events: none;
                    }
                }

            }
        }
    }

}

.t-month-selector {
    width: 260px;
    padding: $t-spacing-20;
    border-radius: 8px;
    box-shadow: $t-shadow--modal;

    .t-month-selector__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        @include typo-subtitle-3;

        .t-month-selector__header__current-display-date {
            display: inline-flex;
            align-items: center;
            gap: $t-spacing-2;
        }

        .t-month-selector__header__control {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            .t-month-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
                border-color: $t-gray-color-2;
            }
            .t-month-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 $t-spacing-8;
                border-color: $t-gray-color-2;
            }
            .t-button--xsmall + .t-button--xsmall {
                margin-left: $t-spacing-2;
            }
        }
    }

    .t-month-selector__content {
        margin-top: calc($t-spacing-40 + $t-spacing-2);

        .t-month-selector__content__month-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: $t-spacing-10;
            row-gap: calc($t-spacing-32 + $t-spacing-4);

            margin-bottom: $t-spacing-12;
            color: $t-gray-color-5;

            .t-month-selector__content__month__item {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;
                color: $t-black-color;
                border-radius: 50%;
                cursor: pointer;

                @include typo-subtitle-1;

                &:hover {
                    border: 1px solid $t-gray-color-1;
                    background: $t-gray-color-1;
                }
                &.t-month-selector__content__month-container__item__month--today {
                    color: $t-primary-color;
                    border: 1px solid $t-secondary-color-blue;
                }
                &.t-month-selector__content__month-container__item__month--selected {
                    color: $t-white-color;
                    border: 1px solid $t-primary-color;
                    background-color: $t-primary-color;
                }
                &.t-month-selector__content__month-container__item__month--disabled {
                    color: $t-gray-color-4;
                    pointer-events: none;
                }
            }
        }

    }
}

.t-year-selector {
    width: 260px;
    padding: $t-spacing-20;
    border-radius: 8px;
    box-shadow: $t-shadow--modal;

    /* Header */
    .t-year-selector__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 24px;

        @include typo-subtitle-3;

        .t-year-selector__header__current-display-date {
            display: inline-flex;
            align-items: center;
            gap: $t-spacing-2;
            cursor: pointer;
        }

        .t-year-selector__header__control {
            display: inline-flex;
            align-items: center;

            .t-year-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
                border-color: $t-gray-color-2;
            }
            .t-year-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 $t-spacing-8;
                border-color: $t-gray-color-2;
            }
            .t-button--xsmall + .t-button--xsmall {
                margin-left: $t-spacing-2;
            }
        }
    }

    .t-year-selector__content {
        margin-top: $t-spacing-32;

        .t-year-selector__content__year-container {
            display: grid;
            gap: $t-spacing-24 20px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(0, 24px);
            padding: 0 $t-spacing-8 $t-spacing-10 $t-spacing-8;

            .t-year-selector__content__year-container__item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 53px;
                height: 30px;
                border-radius: 1000px;
                cursor: pointer;
                @include typo-body-2;

                &:hover {
                    border: 1px solid $t-gray-color-1;
                    background: $t-gray-color-1;
                }
                &.t-year-selector__content__year-container__item__year--today {
                    color: $t-primary-color;
                    border: 1px solid $t-secondary-color-blue;
                }
                &.t-year-selector__content__year-container__item__year--selected {
                    color: $t-white-color;
                    border: 1px solid $t-primary-color;
                    background: $t-primary-color;
                }
                &.t-year-selector__content__year-container__item__year--disabled {
                    color: $t-gray-color-4;
                    pointer-events: none;
                }
            }
        }
    }
}
