
.t-date-picker {
    position: relative;
    width: 156px;

    .t-drop-holder.t-date-picker__drop-holder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $t-spacing-8;

        .t-drop-holder__items {
            border: none;
        }
    }
}



.t-day-selector {
    width: 260px;
    min-height: 304px;
    padding: $t-spacing-20;
    border-radius: 8px;
    box-shadow: $t-shadow--modal;

    /* Header */
    .t-day-selector__header {
        width: 100%;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include typo-subtitle-3;

        .t-day-selector__header__current-month {
            display: inline-flex;
            align-items: center;
            gap: $t-spacing-2;
            cursor: pointer;
        }

        .t-day-selector__header__control {
            display: inline-flex;
            align-items: center;

            .t-day-selector__header__control__icon-button {
                width: 20px;
                min-width: 20px;
                padding: 0;
                margin: 0;
            }

            .t-day-selector__header__control__today-button {
                width: 36px;
                min-width: 36px;
                padding: 0 $t-spacing-8;
            }

            .t-day-selector__header__control__icon-button, .t-day-selector__header__control__today-button {
                border-color: $t-gray-color-2;
            }

            .t-button--xsmall + .t-button--xsmall {
                margin-left: $t-spacing-2;
            }
        }
    }

    /* Content */
    .t-day-selector__content {
        height: calc(100% - 44px);
        margin-top: $t-spacing-20;

        .t-day-selector__content__weekday {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            flex: 0 1 auto;
            padding: 0 $t-spacing-2;
            margin-bottom: $t-spacing-16;
            color: $t-gray-color-5;

            @include typo-element-3;

            .t-day-selector__content__weekday__item {
                text-align: center;
            }
        }

        .t-day-selector__content__day-container {
            display: grid;
            row-gap: $t-spacing-16;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(0, 24px);

            .t-day-selector__content__day-container__item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .t-day-selector__content__day-container__item__day {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;

                    @include typo-element-2;

                    &:hover {
                        border: 1px solid $t-gray-color-1;
                        background: $t-gray-color-1;
                    }

                    &.t-day-selector__content__day-container__item__day--today {
                        color: $t-primary-color;
                        border: 1px solid $t-secondary-color-blue;
                    }

                    &.t-day-selector__content__day-container__item__day--selected {
                        color: $t-white-color;
                        border: 1px solid $t-primary-color;
                        background-color: $t-primary-color;
                    }
                }

            }
        }
    }

}
