@use 'src/styles/designToken/Entry' as *;

.t-progress {

    .t-progress__overlay.t-modal__overlay {
        z-index: calc($t-z-index-modal + 1);
    }


    .t-progress__modal-body.t-modal__overlay__body {
        background: transparent;
        box-shadow: none;

        .t-modal__overlay__body__header, .t-modal__overlay__body__close-icon, .t-modal__overlay__body__footer {
            display: none;
        }

        .t-progress__spinner__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .t-progress__message {
            text-align: center;
            margin-top: $t-spacing-32;
        }
    }


}
