
.t-page {
    flex: 1 1 auto;
    height: 100%;

    display: flex;
    overflow-x: hidden;

    .t-page__content-container {
        padding: $t-spacing-40 $t-spacing-48;
        flex: 1 1 auto;
        transition: width .3s;

        .t-page__title-area {
            margin-bottom: $t-spacing-24;

            @include vertical-mid;
            gap: 10px;

            .t-page__title-area__title {
                @include typo-h3;
                color: $t-black-color;
            }
        }

        .t-page__content-area {
            @include typo-body-3;
            display: flex;
            gap: $t-spacing-20;

            &.t-page__content-area--direction-top-bottom {
                flex-direction: column;
            }

            &.t-page__content-area--direction-left-right {
                flex-direction: row;
            }
        }
    }

    .t-page__information-area {

        transition: flex 0.3s;
        position: relative;
        flex: 0 0 280px;

        .t-page__information-area__container {
            width: 100%;
            height: 100%;
            padding: $t-spacing-56 $t-spacing-24 0 $t-spacing-24;
            border-left: 1px solid $t-blue-gray-color-2;
            position: absolute;
            transition: width 0.3s, right 0.3s;
            right: 0;
        }

        &.t-page__information-area--resizing {
            transition: unset;
            @include user-select-none;
        }


        &.t-page__information-area--invisible {
            flex: 0 0 0;
            transition: all 0.3s;
            .t-page__information-area__container {
                width: 280px;
                right: -280px;
            }
        }


        .t-page__information-area__header {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            margin-bottom: $t-spacing-20;
        }

        .t-page__information-area__resizer {
            position: absolute;
            top: 0;
            left: -4px;
            width: 8px;
            height: 100%;
            z-index: 1;

            &:before {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 100%;
            }

            &:hover {
                cursor: ew-resize;
                width: 4px;
                background-color: $t-black-color;

                &:before {
                    width: 16px;
                    content: '';
                }
                &:active:before {
                    width: 120px;
                }


            }
        }

        .t-page__information-area__title {
            @include typo-subtitle-2;
            margin-bottom: $t-spacing-10;
            color: $t-black-color;
        }

        .t-page__information-area__content {
            position: absolute;
            line-height: $t-line-height-body;
            width: calc(100% - $t-spacing-24 * 2);
            white-space: pre-line;
            overflow-y: auto;
            color: $t-black-color;

            @include typo-body-3;
        }

    }

    &.t-page--resizing * {
        @include user-select-none;
    }


}
