.t-checkbox-group {
    outline: none;

    .t-checkbox-group__container {
        display: flex;
        align-items: center;
    }
    .t-checkbox + .t-checkbox { margin-left: 62px; }

    .t-checkbox-group__message {
        height: 18px;
        @include typo-element-3;
        color: $t-gray-color-4;
    }

    &.t-checkbox-group--disabled {
        pointer-events: none;
    }

    &.t-checkbox-group--failure {
        @include animation-shake();
        .t-checkbox-group__message {color: $t-status-color--error;}
    }
    &.t-checkbox-group--success {
        .t-checkbox-group__message {color: $t-status-color--success;}
    }
}

