.t-form-section {
    display: flex;
    flex-direction: column;

    .t-form-section__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .t-form-section__content__info {
            .t-icon {margin-top: $t-spacing-2;}

            display: flex;
            align-items: center;
            gap: $t-spacing-16;
            padding: $t-spacing-24;
            color: $t-gray-color-5;
            background: $t-grid-background-color--01;
            @include typo-element-3;
        }
    }
}

.t-section.t-form-section {
    .t-section__content {
        padding: 0;
    }
}

.t-form-section-row {
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: $t-spacing-16 $t-spacing-24;

    &:not(:last-child) {
        border-bottom: 1px solid $t-blue-gray-color-3;
    }
    &:first-child {
        padding-top: $t-spacing-24;
    }
    &:last-child {
        padding-bottom: $t-spacing-24;
    }
}

.t-form-section-item {
    position: relative;
    display: inline-flex;
    flex: 0 0 auto;
    white-space: pre-wrap;
    padding-right: $t-spacing-8;
    color: $t-black-color;

    &:not(:first-child) {padding-left: $t-spacing-8;}


    .t-form-section-item__label {
        display: inline-flex;
        align-items: center;
        @include typo-subtitle-3;

        .t-form-section-item__label__info-icon {
            margin-left: $t-spacing-8;
            stroke: $t-gray-color-5;
            fill: $t-gray-color-5;
        }

    }
    .t-form-section-item__content {
        display: flex;
        gap: $t-spacing-8;
        width: 100%;
        @include typo-body-3;
    }

    &.t-form-section-item--required .t-form-section-item__label__text::after {
        @include require-mark;
    }
}
